.accounts-page {
  display: grid;
  grid-template-columns: repeat(10, 100px);
  gap: 20px;
  justify-content: center;
  margin-bottom: 100px;
}

.card {
  grid-column: 1/-1;
  @media (max-width: 1200px) {
    width: 100%;
    max-width: 960px;
    margin: 0 auto;
  }
}
