<div class="accounts-page">
  <section class="card general-information">
    <app-general-info></app-general-info>
  </section>
  <section class="card performance-metrics">
    <app-performance></app-performance>
  </section>
  <section class="card polices">
    <app-polices></app-polices>
  </section>
  <section class="card status">
    <app-status></app-status>
  </section>
  <section class="card communication">
    <app-communication></app-communication>
  </section>
  <section class="card polices-table">
    <app-polices-table></app-polices-table>
  </section>
</div>
