@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

body {
  background-color: #111827;
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  color: white;
  font-size: 12px;
}

p {
  margin: 0;
}
