<div class="dashboard-grid">
  <section class="card work-queue">
    <app-work-queue></app-work-queue>
  </section>
  <section class="card portfolio-goals">
    <app-portfolio-goals></app-portfolio-goals>
  </section>
  <div class="other-information">
    <section class="card quick-actions">
      <app-quick-action></app-quick-action>
    </section>
    <section class="card market-intelligence">
      <app-market-intelig></app-market-intelig>
    </section>
  </div>
  <section class="card my-accounts">
    <app-table-accounts></app-table-accounts>
  </section>
</div>
